# Discord Bot Token
DISCORD_TOKEN=MTQ3OTkxNTc4OTY2MTUwMzY5OQ.GK8un3.-VtVsFu_4t57h8SrgA8hXxYUnACIA9isfZT-e0
# Discord OAuth2
DISCORD_CLIENT_ID=1479915789661503699
DISCORD_CLIENT_SECRET=fBsnnCDwv28m7PFn2FAxFq22KkK96aa-
# Optional: Force a specific redirect URI (useful if Discord Dev portal only has one registered)
# DISCORD_REDIRECT_URI=https://ais-pre-lwljpxf5ndxdyry5k7xwvn-81021234371.europe-west2.run.app/api/auth/callback

# Session
SESSION_SECRET=RSTEAM_2026_SECRET_123456789